<div class="container">
  <form [formGroup]="nameForm">
    <div class="input-btn">
      <input class="form-input" formControlName="name" name="name" id="name" autocomplete="off" placeholder="Escribe tu nombre" (keyup)="changeText()">
    </div>
  </form>
  <div class="screen" #screen>
    <div class="result">
        <div class="lyrics" [style.color]="color(i)" *ngFor="let item of colorName; let i = index">{{ item | uppercase }}</div>
    </div>
    <div class="logCont" *ngIf="colorName?.length">
      <label class="hash">#PACTOSABROSO</label>
      <img src="assets/img/logoPacto.png" class="img-logo"/>
    </div>
  </div>
  <button class="btn" (click)="download()" *ngIf="colorName?.length">Descargar</button>

  <div class="canvas">
    <img #canvas>
    <a #downloadLink></a>
  </div>
  
</div>